extends layout

block content
  h1= title
  if typeof(user) === 'undefined'
    p Welcome to #{title}
    form(action='/login', method='POST')
      label(for='id') ID: 
      input(name='id', type='text')
      label(for='password') Password: 
      input(name='password', type='password')
      button(type='submit') login
    p or
    a(href='/register') register
  else
    div
      span Welcome back #{user.id}
      span  | 
      a(href='/logout') logout
      script(src='/javascripts/socket.io.js')
    script
      var socket = io.connect('http://192.168.1.167');
      var battle;
      socket.on('news', function (data) {
        showMessage(data);
      });
      socket.on('joined', function (battle) {
        updateBattle(battle);
        console.log('Joined battle:' + battle.id);
        $('.controls').toggle();
      });
      socket.on('updateBattle', function(battle) {
        updateBattle(battle);
      });

      function startBattle(userID) {
        socket.emit('startBattle', {userID: userID});
      }

      function joinBattle(userID, friendID) {
        socket.emit('joinBattle', {userID: userID, friendID: friendID});
      }

      function sendMessage(message) {
        console.log('sending message:' + message + ' to:' + battle.id);
        if(message)
          socket.emit('sendMessage', {battleID: battle.id, userID: '#{user.id}', message: message});
      }

      function showMessage(message) {
        $('#messages').prepend('<p>' + message + '</p>');
      }

      function attack(monsterID) {
        socket.emit('attack', {userID: '#{user.id}', battleID: battle.id, monsterID: monsterID});
      }

      function updateBattle(_battle) {
        battle = _battle;
        console.log('battle=' + JSON.stringify(battle));
        var headers = ['name', 'level', 'HP', 'ATK', 'Command'];
        var html = "<div id='battle'><table><tr>";
        headers.forEach(function(header){
          html += '<th>' + header + '</th>';
        });
        battle.users.forEach(function(user){
          html += '</tr><tr><td>' + user.id + '</td>'
          + '<td>' + user.level + '</td>'
          + '<td>' + user.hp + '</td>'
          + '<td>' + user.atk + '</td><td>-</td>';
        });
        battle.monsters.forEach(function(monster){
          html += '</tr><tr><td>' + monster.name + '</td>'
          + '<td>' + monster.level + '</td>'
          + '<td>' + monster.hp + '</td>'
          + '<td>' + monster.atk + '</td>'
          + '<td><button onclick="attack(\'' + monster.id + '\')">attack!</button></td>';
        });
        html += '</tr></table></div>'
        $('#battle').replaceWith(html);
      }

    div(class='controls', style='display: none')
      p #{user.battleID}
      label Message:
      input#chatMessage(type='text')
      button(onclick="sendMessage($('#chatMessage').val())") Send
      div#battle
    div(class='controls')
      button(onclick="startBattle('#{user.id}')") Start Battle!
      div
        label Friend's ID:
        input#friendID(type='text')
        button(onclick="joinBattle('#{user.id}', $('#friendID').val())") Join Battle!
    div#messages
    if user.battleID
      script
        // Re-join the battle when the browser page is reloaded.
        socket.emit('rejoinBattle', {battleID: '#{user.battleID}', userID: '#{user.id}'});


